@media screen and (max-width:576px){
    .navbar ul{
        display: none;
    }
    .white{
        display: block;
        justify-content: center;
    }
    .navbar{
        align-items: center;
    }
    .banner-content{
        flex-direction: column;
        margin: 0;
    }
    .banner-content-left {
        width: 500px;
        height: 400px; 
        margin-top: 64px;
      }
      .banner-content-left h1 {
        font-size: 56px;
        font-weight: 900;
      }
      /* .banner-content-right {
        width: 360px;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 48px;
        display: flex;
        justify-content: space-between;
        position: relative;
      } */
      .free-video {
        position: absolute;
        top: 70px;
        right: -45px;
      }
      .tutorial {
        position: absolute;
        bottom: 250px;
        left: 50px;
      }
      .habit-container-title {
        /* width: 570px; */
        height: 120px;
        margin: 48px auto;
        text-align: center;
      }
      .habit-container-title h2 {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: 900;
      }
      .habit-container-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 24px; */
      }
      .run-content {
        height: 650px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* align-items: center; */
      }
      
      .run-content-image img {
        border-radius: 16px;
        margin-top: 24px;
        width: 360px;
      }
      
      .run-content-title .title{
        font-size: 36px;
      }
      .run-content-title .normal-text{
        font-size: 14px;
      }
      .run-content-title{
        width: 360px;
      }

      .bmi {
        background: rgb(34, 34, 34);
        border-radius: 16px;
      }
      
      .bmi-title {
        width: 400px;
        margin: 48px auto 32px auto;
      }
      
      .bmi-font-title {
        color: rgb(255, 255, 255);
        font-size: 28px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 24px;
        margin-top: 24px;
      }
      
      tr th {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        padding: 5px 20px;
        border: 1px solid white;
      }
      
      .bmi-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .bmi-form {
        width: 400px;
        text-align: center;
      }
      
      .bmi-form input {
        width: 280px;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 12px;
      }
      
      .bmi-form select {
        width: 280px;
        padding: 15px;
        border-radius: 10px;
      }
      
      #sp-select {
        width: 280px;
        margin-top: 12px;
        margin-bottom: 12px;
      }


      .team-title {
        text-align: center;
        width: 400px;
        margin: 48px auto;
      }
      
      .team-image {
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        padding: 15px;
      }
      
      .image1 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 12px;
      }

      .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        margin-top: 48px;
        margin-bottom: 48px;
      }
      .footer1 {
        width: 370px;
      }
      .footer1 h2 {
        color: rgb(230, 83, 60);
        font-family: Inter;
        font-size: 70px;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
      }
      
      .footer1 p {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
      }
      
      .footer2 h3 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
      }
      
      .footer2 p {
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 23px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
      }
      
      .last {
        text-align: center;
        margin-top: 48px;
        margin-bottom: 48px;
      }
      .blog-title{
        width: 670px;
        margin: 48px auto;
        text-align: center;
      }
      .card-content{
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: rgb(44, 63, 78);
        padding: 10px;
        border-radius: 15px;
      }
}