@media screen and (max-width:576px){
    .navbar ul{
        display: none;
    }
    .white{
        display: block;
        justify-content: center;
    }
    .navbar{
        align-items: center;
    }
    .banner-content{
        flex-direction: column;
        margin: 0;
    }
    .banner-content-left {
        width: 500px;
        height: 400px; 
        margin-top: 64px;
      }
      .banner-content-left h1 {
        font-size: 56px;
        font-weight: 900;
      }
      /* .banner-content-right {
        width: 360px;
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 48px;
        display: flex;
        justify-content: space-between;
        position: relative;
      } */
      .free-video {
        position: absolute;
        top: 70px;
        right: -45px;
      }
      .tutorial {
        position: absolute;
        bottom: 250px;
        left: 50px;
      }
      .habit-container-title {
        /* width: 570px; */
        height: 120px;
        margin: 48px auto;
        text-align: center;
      }
      .habit-container-title h2 {
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: 900;
      }
      .habit-container-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 24px; */
      }
}