@media screen and (max-width:576px){
    .navbar ul{
        display: none;
    }
    .white{
        display: block;
        justify-content: center;
    }
    .navbar{
        align-items: center;
    }
}